.print-pdf {
  background-color: #eeeeee;
}

.section-title-wrapper {
  display: flex;
  justify-content: center;
}
.section-title-wrapper .section-title {
  position: relative;
  font-size: 36px;
  font-weight: 800;
  color: #333333;
  background: transparent;
}
.section-title-wrapper .section-title .img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}
.error {
  padding: 60px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error .error-img {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}

.banner {
  width: 100%;
  position: relative;
}
.banner .img {
  width: 100%;
  height: 100%;
}
.banner .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner .banner-content .banner-title {
  width: 50%;
}
.banner .banner-content .title {
  font-size: 40px;
  font-weight: bold;
  color: #222222;
}
.banner .banner-content .time {
  font-size: 26px;
  font-weight: 400;
  color: #666666;
  position: relative;
}
.banner .banner-content .banner-time {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.description,
.directory,
.overview {
  background-color: #ffffff;
  margin-bottom: 12px;
}
.description .content,
.overview .content {
  margin: 0 60px;
  padding-bottom: 48px;
}
.description .content .text {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  text-indent: 2em;
}

.overview .content .text {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  text-indent: 2em;
}
.overview .content .table1,
.overview .content .table2 {
  border-collapse: collapse;
}
.overview .content .table1 th {
  width: 33.3%;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: #94466e;
  padding: 18px 0;
  border: 1px solid #dddddd;
}
.overview .content .table1 td {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  padding: 18px 0;
  text-align: center;
  border: 1px solid #dddddd;
}
.overview .content .table2 .head {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: #94466e;
  padding: 18px 0;
  border: 1px solid #dddddd;
}
.overview .content .table2 tr {
  height: 60px;
}
.overview .content .table2 td {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  padding: 18px 0;
  text-align: center;
  border: 1px solid #dddddd;
}
.overview .content .table2 td span {
  width: 20px;
  display: inline-block;
}
.overview .content .table2 .th {
  padding: 18px 16px;
  color: #ffffff;
}

.overview .content .table2 .high {
  background-color: #a04f66;
}
.overview .content .table2 .medium {
  background-color: #9e6a4e;
}
.overview .content .table2 .low {
  background-color: #9f8d4f;
}
/* .overview .content .overview-table table {
  border-collapse: collapse;
}
.overview .content .overview-table .table tr {
  height: 80px;
}
.overview .content .overview-table th {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: #94466e;
  padding: 18px 0;
  border: 1px solid #dddddd;
}

.overview .content .overview-table td {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  padding: 18px 0;
  text-align: center;
  border: 1px solid #dddddd;
} */
